# Lab 3. Traffic volume prediction.

---

By the end of this lab you will be able to manipulate huge tabular data:
1. Compute different column's statistics (min, max, mean, quantiles etc.);
2. Select observations/features by condition/index;
3. Create new non-linear combinations of the columns (feature engineering);
4. Perform automated data cleaning;

and more.

---

For those who are not familiar with `pandas` we recommend these (alternative) tutorials:

1. Single notebook, covers basic pandas functionality (starting with renaming columns ending with using map, apply etc) ~ 30 short examples with links on videos https://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb . Highly recommended for everyone. (about 1-3 hours to go through)

2. https://github.com/guipsamora/pandas_exercises/ 11 topics covering all essential functionality with excersises (with solutions).

This task will be an easy ride after these tutorials.

---

# 0. Enter your personal data

Please enter your first name and last name in the cell below to receive your unique assignment variants.

In [1]:
# Enter your personal data here

first_name = "Qinrong"
last_name = "Cui"

In [2]:
# Please fix seeds in all random frameworks.
import random
import numpy as np

random.seed(42)
np.random.seed(42)

In [3]:
from variants import get_variants_for_all_tasks

student_variants = get_variants_for_all_tasks(first_name, last_name)

def get_task_variant(task_number):
    variant = student_variants[f"task{task_number}"]
    return print(f"YOUR TASK: {task_number}.{variant}")

We are using a public dataset compiling weather information and traffic data continuously monitored in the Twin Cities, Minnesota from 2012 to 2018. The dataset page can be found [here](https://archive.ics.uci.edu/ml/datasets/Metro+Interstate+Traffic+Volume). We've slightly modified it so please download the dataset provided on Canvas.  

You need to download `Metro_Interstate_Traffic_Volume.csv` and place it in the same directory as this notebook.

In [4]:
# import numpy as np
import pandas as pd

# 1. Loading data (6 / 100)

As always in Data Science you are starting with making nice cup of tea (or coffee). Your next move is to load the data:

- Start with loading `Metro_Interstate_Traffic_Volume.csv` file using `pd.read_csv()` function.
- You may also want to increase maximal displayed pandas columns: set `pd.options.display.max_columns` to 30
- Print top 10 observations in the table. `.head()`
- Print last 10 observations in the table. `.tail()`
- Print all the data columns names using method `.columns`
- Print data size (number of rows and columns). This is the `.shape` of the data.

*Almost* every python has a `head` and a `tail` just as DataFrames do.

If you are using Google Colab, you can upload the file in the cell below. If you are NOT using Colab, set COLAB_P in the cell below to False.

In [5]:
COLAB_P = False
if COLAB_P:
    print("Upload your file, then read it with pd.read_csv()")
    from google.colab import files
    uploaded = files.upload()
    fn = list(uploaded.keys())[0]
    print("File is uploaded to ", fn)
else:
    print("Place your file to the same directory as the notebook, then read your file with pd.read_csv()")

Place your file to the same directory as the notebook, then read your file with pd.read_csv()

In [6]:
# Load the data
pd.options.display.max_columns = 30
df = pd.read_csv("Metro_Interstate_Traffic_Volume.csv")

In [7]:
# Observe top 10 observations (int)
print(df.head(10))

  holiday    temp  rain_1h  snow_1h  clouds_all weather_main  \
0     NaN  288.28      0.0      0.0        40.0       Clouds
1     NaN  289.36      0.0      0.0        75.0       Clouds
2     NaN  289.58      0.0      0.0        90.0       Clouds
3     NaN  290.13      0.0      0.0        90.0       Clouds
4     NaN  291.14      0.0      0.0        75.0       Clouds
5     NaN  291.72      0.0      0.0         1.0        Clear
6     NaN  293.17      0.0      0.0         1.0        Clear
7     NaN  293.86      0.0      0.0         1.0        Clear
8     NaN  294.14      0.0      0.0        20.0       Clouds
9     NaN  293.10      0.0      0.0        20.0       Clouds

  weather_description            date_time  traffic_volume
0    scattered clouds  2012-10-02 09:00:00          5545.0
1       broken clouds  2012-10-02 10:00:00          4516.0
2     overcast clouds  2012-10-02 11:00:00          4767.0
3     overcast clouds  2012-10-02 12:00:00          5026.0
4       broken clouds  2012-10-02 13:00:00          4918.0
5        sky is clear  2012-10-02 14:00:00          5181.0
6        sky is clear  2012-10-02 15:00:00          5584.0
7        sky is clear  2012-10-02 16:00:00          6015.0
8          few clouds  2012-10-02 17:00:00          5791.0
9          few clouds  2012-10-02 18:00:00          4770.0

In [8]:
# Observe last 10 observations (int)
print(df.tail(10))

      holiday    temp  rain_1h  snow_1h  clouds_all  weather_main  \
48194     NaN  283.84     0.00      0.0        75.0          Rain
48195     NaN  283.84     0.00      0.0        75.0       Drizzle
48196     NaN  284.38     0.00      0.0        75.0          Rain
48197     NaN  284.79     0.00      0.0        75.0        Clouds
48198     NaN  284.20     0.25      0.0        75.0          Rain
48199     NaN  283.45     0.00      0.0        75.0        Clouds
48200     NaN  282.76     0.00      0.0        90.0        Clouds
48201     NaN  282.73     0.00      0.0        90.0  Thunderstorm
48202     NaN  282.09     0.00      0.0        90.0        Clouds
48203     NaN  282.12     0.00      0.0        90.0        Clouds

           weather_description            date_time  traffic_volume
48194    proximity shower rain  2018-09-30 15:00:00          4302.0
48195  light intensity drizzle  2018-09-30 15:00:00          4302.0
48196               light rain  2018-09-30 16:00:00          4283.0
48197            broken clouds  2018-09-30 17:00:00          4132.0
48198               light rain  2018-09-30 18:00:00          3947.0
48199            broken clouds  2018-09-30 19:00:00          3543.0
48200          overcast clouds  2018-09-30 20:00:00          2781.0
48201   proximity thunderstorm  2018-09-30 21:00:00          2159.0
48202          overcast clouds  2018-09-30 22:00:00          1450.0
48203          overcast clouds  2018-09-30 23:00:00           954.0

In [9]:
# Print all the columns/features names (int)
print(df.columns)

Index(['holiday', 'temp', 'rain_1h', 'snow_1h', 'clouds_all', 'weather_main',
       'weather_description', 'date_time', 'traffic_volume'],
      dtype='object')

In [10]:
# Print the shape of the dataframe (int)
print(df.shape)

(48204, 9)

In [11]:
get_task_variant(1)

YOUR TASK: 1.1

In [12]:
# Q1.1 How many columns end with a vowel?
# Q1.2 How many columns start with a vowel?
# Q1.3 How many columns have `th` in their names?
vowels = 'aeiouAEIOU'
col_names = df.columns.tolist()
col_end_vowel = [col for col in col_names if col[-1] in vowels]
print(f"Number of columns ending with a vowel: {len(col_end_vowel)}")

Number of columns ending with a vowel: 2

In [13]:
get_task_variant(2)

YOUR TASK: 2.1

In [14]:
# Print data size (int)

# Q2.1 How many observations are in the data?
# Q2.2 How many features are in the data?

print(f"Number of features: {df.shape[1]}")

Number of features: 9

# 2. Basic data exploration (15 / 100)

Lets do some basics:

`.count()` number of not NaN's in every column.
    
Is there any missing values in the data?     
Count number of unique values in every column .nunique().    
What does this tells you about the features, which are most likely categorical and which are most likely numerical?    
Use pandas `.describe()` to display basic statistic about the data.   
Use pandas `.value_counts()` to count number of unique values in a specific column.   
Use pandas `.min()`, `.max()`, `.mean()`, `.std()` to display specific statistics about the data.    
Use pandas `.dtypes` field to display data types in columns. 
Hint You could use `.sort_index()` or `.sort_values()` to sort the result of `.value_counts()`

In [15]:
get_task_variant(3)

YOUR TASK: 3.3

In [16]:
# Display number of not NaN's in every column (int)

# Q3.1 How many NA values are in the `clouds_all` column?
# Q3.2 How many NA values are in the `temp` column?
# Q3.3 How many NA values are in the `rain_1h` column?
# Q3.4 How many NA values are in the `snow_1h` column?
# Q3.5 How many explicit NA values are in the `traffic_volume` column?

na_counts = df.isna().sum()
print("Number of missing values in 'rain_1h':", na_counts['rain_1h'])

Number of missing values in 'rain_1h': 1

In [17]:
# How many NA or None values are in the `holiday`?
na_counts = df.isna().sum()
print("Number of missing values in 'holiday':", na_counts['holiday'])

Number of missing values in 'holiday': 48143

In [18]:
# Fill NA's and None values in the `holiday` column with label 'Not_a_holiday'?
df['holiday'] = df['holiday'].fillna('Not_a_holiday')
na_counts = df.isna().sum()
print("Number of missing values in 'holiday' after filling:", na_counts['holiday'])

Number of missing values in 'holiday' after filling: 0

In [19]:
# Drop rows with NA values. Use dropna.
df = df.dropna()

In [20]:
# Display basic data statistics using .describe()
print(df.describe(include='all'))

              holiday          temp       rain_1h       snow_1h    clouds_all  \
count           48190  48190.000000  48190.000000  48190.000000  48190.000000
unique             12           NaN           NaN           NaN           NaN
top     Not_a_holiday           NaN           NaN           NaN           NaN
freq            48129           NaN           NaN           NaN           NaN
mean              NaN    281.201366      0.334356      0.000222     49.369267
std               NaN     13.337406     44.795638      0.008169     39.016127
min               NaN      0.000000      0.000000      0.000000      0.000000
25%               NaN    272.160000      0.000000      0.000000      1.000000
50%               NaN    282.440000      0.000000      0.000000     64.000000
75%               NaN    291.800000      0.000000      0.000000     90.000000
max               NaN    310.070000   9831.300000      0.510000    100.000000

       weather_main weather_description            date_time  traffic_volume
count         48190               48190                48190    48190.000000
unique           11                  38                40562             NaN
top          Clouds        sky is clear  2013-04-18 22:00:00             NaN
freq          15159               11658                    6             NaN
mean            NaN                 NaN                  NaN     3259.859079
std             NaN                 NaN                  NaN     1986.972809
min             NaN                 NaN                  NaN        0.000000
25%             NaN                 NaN                  NaN     1192.250000
50%             NaN                 NaN                  NaN     3380.000000
75%             NaN                 NaN                  NaN     4933.000000
max             NaN                 NaN                  NaN     7280.000000

In [21]:
get_task_variant(4)

YOUR TASK: 4.1

In [22]:
# Count number of unique values in every column (int)

# Q4.1 How many unique values are in the `clouds_all` column?
# Q4.2 How many unique values are in the `weather_main` column?
# Q4.3 How many unique values are in the `weather_description` column?
# Q4.4 How many unique values are in the `snow_1h` column?
# Q4.5 How many unique values are in the `rain_1h` column?
unique_counts = df.nunique()
print("Number of unique values in 'clouds_all':", unique_counts['clouds_all'])

Number of unique values in 'clouds_all': 60

In [23]:
# Count frequency of the values in different columns (list of ints in ascending order)
# You could select a column using same syntax as for selecting a key from a dictionary: `data[colname]`
# numpy's `unique` function can be useful for this task

# Q5 What is the most frequent value in the weather_main column?
most_freq = df['weather_main'].value_counts().idxmax()
count = df['weather_main'].value_counts().max()

print(f"The most frequent value is {most_freq} with {count} occurrences.")

The most frequent value is Clouds with 15159 occurrences.

In [24]:
# if use numpy's unique
values, counts = np.unique(df['weather_main'], return_counts=True)

max_index = np.argmax(counts)

most_freq = values[max_index]
count = counts[max_index]

print(f"The most frequent value is {most_freq} with {count} occurrences.")

The most frequent value is Clouds with 15159 occurrences.

In [25]:
get_task_variant(6)

YOUR TASK: 6.5

In [26]:
# Display some column statistics (list of floats, rounded up to 3 digits, e.g. 1.234)

# Q6.1 What are the max, min, mean and the std of the `traffic_volume` column?
# Q6.2 What are the max, min, mean and the std of the `clouds_all` column?
# Q6.3 What are the max, min, mean and the std of the `temp` column?
# Q6.4 What are the max, min, mean and the std of the `rain_1h` column?
# Q6.5 What are the max, min, mean and the std of the `snow_1h` column?

snow_stats = df['snow_1h'].agg(['max', 'min', 'mean', 'std']).round(3)
print("Snow 1h stats (max, min, mean, std):", snow_stats.tolist())

Snow 1h stats (max, min, mean, std): [0.51, 0.0, 0.0, 0.008]

In [27]:
get_task_variant(7)

YOUR TASK: 7.1

In [28]:
# Display data types of all columns (int)

# Q7.1 How many columns have `object` data type?
# Q7.2 How many columns have `int64` data type?
# Q7.3 How many columns have `float64` data type?

object_count = df.select_dtypes(include='object').shape[1]
print("Number of object columns:", object_count)

Number of object columns: 4

# 3. Data selection (15 / 100)

In pandas.DataFrame you could select

  Row/s by position (integer number [0 .. number of rows - 1]) .iloc or by DataFrame.index .loc:   

```
  data.loc[0]  
  data.loc[5:10]  
  data.iloc[0]  
  data.iloc[5:10]   
```

Though, this is probably the worst way to manipulate rows.   
  Columns by name

```
  data[columname]
```

  Row/s and columns

```
  data.loc[10, columname]  
  data.iloc[10, columname]  
```

Using boolean mask

```
  mask = data[columname] > value  
  data[mask]  
```

You could combine multiple conditions using & or | (and, or)   

```
cond1 = data[columname1] > value1  
cond2 = data[columname2] > value2  
data[cond1 & cond2]  
```

Using queries .query():  

```
value = 5 
data.query("columname > value")  
```

You could combine multiple conditions using and, or  

```
data.query("(columname1 > value1) and (columname2 > value2)")
```

and others. See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html for more examples.

Remember to use different quotation marks " or ' for columnname inside a query.

In [29]:
get_task_variant(8)

YOUR TASK: 8.5

In [30]:
# Select rows by position (int) 

# Q8.1 What is the temperature of the time slot with index 777?
# Q8.2 What is the weather description of the time slot with index 999?
# Q8.3 How much is cloud coverage with index 1337?
# Q8.4 What is the weather main of the time slot with index 314?
# Q8.5 When was the time slot with index of 2718 observed?
print("Datetime at index 2718:", df.iloc[2718]['date_time'])

Datetime at index 2718: 2013-01-06 14:00:00

In [31]:
get_task_variant(9)

YOUR TASK: 9.3

In [32]:
# Select rows by index (int)

# Q9.1 What is the temperature of the time slot on index 1102?
# Q9.2 What is the weather description of the time slot on index 5695?
# Q9.3 How much is cloud coverage on the index 1045?
# Q9.4 What is the weather main of the time slot from index 252?
# Q9.5 When was the time slot with index of 38 captured?
cloud_1045 = df.loc[1045, 'clouds_all']
print("Cloud coverage at index 1045:", cloud_1045)

Cloud coverage at index 1045: 20.0

In [33]:
get_task_variant(10)

YOUR TASK: 10.2

In [34]:
# Using mask or .query syntax select rows/columns (int)

# Q10.1 How many time slots have less than 270 temperature?
# Q10.2 When was the first "light intensity drizzle" in weather description captured?
# Q10.3 How many time slots have cloud coverage more than 75?
# Q10.4 How many time slots are foggy? (weather_main = Fog)
# Q10.5 When was the last observed timeslot with weather_description "heavy snow"?


first_light_intensity_drizzle = df.query("weather_description == 'light intensity drizzle'").iloc[0]['date_time']

print("First light intensity drizzle:", first_light_intensity_drizzle)

First light intensity drizzle: 2012-10-10 07:00:00

In [35]:
get_task_variant(11)

YOUR TASK: 11.5

In [36]:
# Q11.1 What is the traffic volume of November 20th 2016, at 20:00?
# Q11.2 What is the amount of rain in the 70th rainy time slot (non-zero rain) of the dataset?
# Q11.3 How much cloud coverage percentage were in sky on October 16th 2012 at 19:00?
# Q11.4 What is the `traffic_volume` of a thirty fourth sample with `clouds_all` == 90?
# Q11.5 What is the "weather_description" in the 20th "weather_main" with Thunderstorm?

thunderstorm_weather_description = df.query("weather_main == 'Thunderstorm'").iloc[19]['weather_description']
print("20th Thunderstorm weather_description:", thunderstorm_weather_description)

20th Thunderstorm weather_description: proximity thunderstorm

In [37]:
get_task_variant(12)

YOUR TASK: 12.1

In [38]:
# Q12.1 What is the traffic volume for 99-th time slot with cloud coverage 75 percent?
# Q12.2 How much is the temperature the 666-th time slot with weather_description 'proximity thunderstorm'?
# Q12.3 What is the temperature of 1337-th time slot with clear sky (clouds_all <= 20)?
traffic_99_clouds_75 = df.query("clouds_all == 75").iloc[98]['traffic_volume']
print("Traffic volume for 99-th time slot with clouds_all 75%:", traffic_99_clouds_75)

Traffic volume for 99-th time slot with clouds_all 75%: 1437.0

# 4. Creating new columns (16 / 100)

Creating new column of pandas.DataFrame is as easy as:
```
data['new_awesome_column'] = [] 
```
that's it. But such a column is relatively useless. Typically, you would compute something new based on existing data and save it in a new column. For example one might want to sum a number of existing columns:
```
data['sum'] = data[col1] + data[col2] + ...
```
Pandas also provides another powerfull tool: .apply, .map(), .applymap() methods (they are kinda the same, but not quite). https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas . They allow you to apply some function to every value in the column/s (row-wise) or row (column-wise) or cell (element-wise). For example, same computations of sum using .apply():
```
data['sum'] = data[[col1, col2, col3]].apply(sum, axis=1)
```
you are not restricted to existent functions, .apply() accepts any function (including lambda functions):
```
data['sum'] = data[[col1, col2, col3]].apply(lambda x: x[0]+x[1]+x[2], axis=1)
```
or ordinary python function (if this it should have complex behaviour):
```
def _sum(x):
    total = 0
    for elem in x:
        total += elem
    return total

data['sum'] = data[[col1, col2, col3]].apply(_sum, axis=1) 
```
Many pandas methods has axis parameter axis=0 refers to rows, axis=1 refers to columns.

Warning. You should never use for loops to sum numerical elements from the container.

In [39]:
get_task_variant(13)

YOUR TASK: 13.1

In [40]:
# Create new columns using the old ones (new column in your DataFrame)

# Q13.1 Create a `temp_in_celcius` column from the existing `temp` (kelvin) using any method above
# Q13.2 Create a new bool column `hot` which indicates whether the time slot was hot (temp > 300)
# Q13.3 Create a new bool column `rainy_and_cloudy` which indicates whether it was rainy (>0.1) AND cloudy (>50)
# Q13.4 Create a new bool column `is_holiday` which indicates whether the day of the time slot falls on any holiday
# Q13.5 Create a new column `traffic_cat` by splitting a `traffic_volume` into 5 ([1..5]) distinct intervals: 0 < x <=20%,
# 20% < x <= 40%, ... 80% < x <= 100% percentiles. You could use `.quantile()` to compute percentiles.

df['temp_in_celsius'] = df['temp'] - 273.15

In [41]:
print("Number of columns after feature extraction:", df.shape[1])

Number of columns after feature extraction: 10

In [42]:
get_task_variant(14)

YOUR TASK: 14.5

In [43]:
# Using mask or .query syntax select rows/columns (int).
# For working with dates, define helper functions that operate on the date_time string.

# Q14.1 How many time slots with "weather_main" equal to "Clouds"  were captured in autumn 2016? Including both start and end day.
# Q14.2 How many rainy time slots that were captured in the fall, with traffic volume more than 2000?
# Q14.3 How many time slots that are warmer than 270, have weather main "Clouds"?
# Q14.4 What is the minimum traffic volume of time slots captured on March 8th (all years), that was warmer than 290?
# Q14.5 How much is the maximum traffic volume for the time slots were captured in June 2017 and has clear sky (weather_main)?

max_traffic_june_2017_clear_sky = df.query("weather_main == 'Clear' and date_time >= '2017-06-01' and date_time < '2017-07-01'")['traffic_volume'].max()
print("Maximum traffic volume in June 2017 with clear sky:", max_traffic_june_2017_clear_sky)

Maximum traffic volume in June 2017 with clear sky: 6673.0

In [44]:
get_task_variant(15)

YOUR TASK: 15.3

In [45]:
# Using mask or .query syntax select rows/columns and compute simple statistics (float)

# Q15.1 What was the average temperature of time slots with main weather "Haze"?
# Q15.2 What was the traffic volume of the coldest time slot of the year 2016?
# Q15.3 What was the traffic volume of the highest amount of snow in one hour?
# Q15.4 What is the median of temperatures captured in April 2017?
# Q15.5 What is the maximum temperature of time slots with broken clouds?

traffic_highest_snow = df.loc[df['snow_1h'].idxmax(), 'traffic_volume']
print("Traffic volume at highest snow in one hour:", traffic_highest_snow)

Traffic volume at highest snow in one hour: 5167.0

In [46]:
get_task_variant(16)

YOUR TASK: 16.4

In [47]:
# Using mask or .query syntax select rows/columns (float)

# Q16.1 What is the average temperature of the time slots with weather_main=thunderstorm?
# Q16.2 What is the average traffic volume on holidays?
# Q16.3 What is the average traffic volume on non-holidays?
# Q16.4 What is the average traffic volume in the highest quantile?
# Q16.5 What is the average traffic volume in the lowest quantile?

q75 = df['traffic_volume'].quantile(0.75)

avg_highest_quantile = df.loc[df['traffic_volume'] >= q75, 'traffic_volume'].mean()

print("Average traffic volume in highest quantile:", avg_highest_quantile)

Average traffic volume in highest quantile: 5705.782172470978

# 5. Basic date processing (8 / 100)

You figure out that column date is to harsh for you, so you decided to convert it to a more plausible format:

- Use pandas method to_datetime() to convert the date to a good format.
- Extract year, month, day and weekday from your new date column. Save them to separate columns.
- How many columns has your data now?
- Drop column date, remember to set inplace parameter to True.

Hint: for datetime formatted date you could extract the year as follow:
```
data.date.dt.year
```
Very often date could be a ridiculously rich feature, sometimes it is holidays that matters, sometimes weekends, sometimes some special days like black friday.

Learn how to work with date in Python!

In [48]:
get_task_variant(17)

YOUR TASK: 17.3

In [49]:
# Create new columns based on `Captured` column

# Q17.1 Extract and store `year`
# Q17.2 Extract and store `month`
# Q17.3 Extract and store `day`
# Q17.4 Extract and store `weekday` (Monday - 0, Sunday - 6)
# Q17.5 Extract and store `hour`
# Q17.6 Extract and store `is_hoilday`

df['date_time'] = pd.to_datetime(df['date_time'])
df['year'] = df['date_time'].dt.year
df['month'] = df['date_time'].dt.month
df['day'] = df['date_time'].dt.day
df['weekday'] = df['date_time'].dt.weekday  
df['hour'] = df['date_time'].dt.hour
print("Number of columns after feature extraction:", df.shape[1])

Number of columns after feature extraction: 15

In [50]:
get_task_variant(18)

YOUR TASK: 18.4

In [51]:
# Find some date related information from the data (int)

# Q18.1 What is the weekday with the highest traffic volume?
# Q18.2 What is the weekday with the lowest traffic volume?
# Q18.3 What is the average traffic volume during months of September?
# Q18.4 What is the average traffic volume in the time period between 15-19 hours
# Q18.5 What is the average traffic volume on World Bicycle Day (June 3)?


avg_traffic_15_19 = df.loc[df['hour'].between(15, 19), 'traffic_volume'].mean()
print("Average traffic volume between 15â€“19 hours:", avg_traffic_15_19)

Average traffic volume between 15â€“19 hours: 4749.295714285714

# 6. Groupby (5 / 100)

from the documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

By â€œgroup byâ€ we are referring to a process involving one or more of the following steps:

- Splitting the data into groups based on some criteria.
- Applying a function to each group independently.
- Combining the results into a data structure.

`.groupby()` is one of the most powerfull tool for feature engineering. Very often it is used to group object with the same categorical characteristics and compute some statistics (e.g. mean, max, etc.) of a their numerical characteric.

Instead of computing average traffic volume with for each month you could compute average traffic volumes for every month in a single command:
```
data.groupby('month')['traffic_volume'].mean()
```
You could also make multi-column groups:
```
data.groupby(['weekday','month'])['traffic_volume'].min()
```
next, you could compute multiple aggregation functions:
```
data.groupby(['weekday','month'])['traffic_volume'].agg([min, max])
```
instead of using built-in functions you could compute custom functions using apply:
```
import numpy as np
data.groupby(['weekday','month'])['traffic_volume'].apply(lambda x: np.quantile(x, .5))
```
and the coolest thing now is that you can map the results of groupby back on your DataFrame!
```
gp = data.groupby(['month'])['traffic_volume'].median()
data['gp_feature'] = data['month'].map(gp)
```
Now, if some timeslot has month == 2, its gp_feature will be equal to the median traffic volume amongst all observations in February

Read more examples in the documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

In [52]:
get_task_variant(19)

YOUR TASK: 19.1

In [53]:
# Create some groupby features

# Q19.1 `traffic_by_year` groupby `year` and compute median traffic volume in 2013.
# Q19.2 `traffic_by_weekday` groupby `weekday` and compute median traffic volume on Monday.

traffic_by_year = df.groupby('year')['traffic_volume'].median()

median_2013 = traffic_by_year.loc[2013]
print("Q19.1 Median traffic volume in 2013:", median_2013)

Q19.1 Median traffic volume in 2013: 3344.0

# 7. Building a regression model (35 / 100)

- You do not need to normalize data for tree models, and for linear/knn models this step is essential.
- Remember, that not all of the features in the table are numeric, some of them might be viewed as categorical.
- You may create or drop any features you want - try to only keep features which you think will be relevant to the prediction of traffic volume.

In [54]:
# Q20 Separate your data into inputs and targets, keeping only relevant inputs. Drop any features computed from the output eg. `traffic_cat`
Y = df["traffic_volume"].values

good_columns = ['temp',
    'rain_1h',
    'snow_1h',
    'clouds_all',
    'holiday',
    'weather_main',
    'weather_description',
    'year',
    'month',
    'day',
    'weekday',
    'hour'] #todo
Xdf = df[good_columns]

Now it's time to split our data into train and test sets. Generally a random split is used, but one needs to be very careful with time series data - we need to make sure train and test data don't contain mixed adjacent time slots. In general with time series, it is recommended not to predict values from the past using input information from the future (although the applicability of this rule in our case is debatable), so we'll use sklearn's [TimeSeriesSplit](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.TimeSeriesSplit.html) class here. TimeSeriesSplit splits data into a number of folds, then only provides data from past folds to train a model tested on the currently considered fold. So if we split our data into five parts, we'll get four folds:

1. Train on [0], test on [1]
2. Train on [0,1], test on [2]
3. Train on [0, 1, 2], test on [3]
4. Train on [0, 1, 2, 3], test on [4]

For the following tasks, you are required to use train and test indices from the last fold provided by TimeSeriesSplit with `n_splits` = 5.

In [55]:
# Q21 Split your data into train and test parts.
# How many records (rows) do you have in train and test tables? (list of int)?
# Use sklearn.model_selection.TimeSeriesSplit with n_splits=5

from sklearn.model_selection import TimeSeriesSplit

Xdf_encoded = pd.get_dummies(Xdf, drop_first=True)

tscv = TimeSeriesSplit(n_splits=5)
for train_idx, test_idx in tscv.split(Xdf_encoded):
    pass

X_train, X_test = Xdf_encoded.iloc[train_idx], Xdf_encoded.iloc[test_idx]
y_train, y_test = Y[train_idx], Y[test_idx]

print("Train size:", X_train.shape[0])
print("Test size:", X_test.shape[0])

Train size: 40159
Test size: 8031

In [56]:
get_task_variant(22)

YOUR TASK: 22.3

In [57]:
# Create a predictive regression model of a traffic volume.

# Q22.1 Use linear regression with l2 regularization (Ridge regression)
# Q22.2 Use decision tree regression
# Q22.3 Use k nearest neighbours regression

from sklearn.linear_model import Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

knn_pipe = make_pipeline(StandardScaler(), KNeighborsRegressor(n_neighbors=5))
knn_pipe.fit(X_train, y_train)

y_pred_knn = knn_pipe.predict(X_test)
print("KNN MSE:", mean_squared_error(y_test, y_pred_knn))
print("KNN R^2:", r2_score(y_test, y_pred_knn))

KNN MSE: 1267970.4679666292
KNN R^2: 0.6731068671401076

In [58]:
get_task_variant(23)

YOUR TASK: 23.1

In [59]:
# Use grid search to select optimal hyperparamters of your models. 

# Q23.1 Alpha for a ridge regression
# Q23.2 Depth for the tree
# Q23.3 Number of neighbours for the knn


from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV

ridge_grid = GridSearchCV(
    make_pipeline(StandardScaler(), Ridge()),
    param_grid={'ridge__alpha': [0.1, 1.0, 10.0, 100.0]},
    cv=tscv,
    scoring='neg_mean_squared_error',
)
ridge_grid.fit(Xdf_encoded, Y)
best_alpha = ridge_grid.best_params_['ridge__alpha']
print("Best Ridge Alpha:", best_alpha)

Best Ridge Alpha: 100.0

In [60]:
get_task_variant(24)

YOUR TASK: 24.1

In [61]:
# Compute train and test mean squared error for your best models (list of float).

# Q24.1 Train, test MSE using linear regression with l2 regularization
# Q24.2 Train, test MSE using decision tree regression
# Q24.3 Train, test MSE using k nearest neighbours regression

from sklearn.metrics import mean_squared_error

ridge_pipe = make_pipeline(StandardScaler(), Ridge(alpha=best_alpha))
ridge_pipe.fit(X_train, y_train)

y_train_pred = ridge_pipe.predict(X_train)
y_test_pred  = ridge_pipe.predict(X_test)

print("Ridge Train MSE:", mean_squared_error(y_train, y_train_pred))
print("Ridge Test  MSE:", mean_squared_error(y_test,  y_test_pred))

Ridge Train MSE: 3285522.481602991
Ridge Test  MSE: 3233160.087316947

In [62]:
get_task_variant(25)

YOUR TASK: 25.3

In [63]:
# Compute train and test R^2 for your best models (list of float).

# Q25.1 Train, test R^2 using linear regression with l2 regularization
# Q25.2 Train, test R^2 using decision tree regression
# Q25.3 Train, test R^2 using k nearest neighbours regression

knn_pipe = make_pipeline(StandardScaler(), KNeighborsRegressor(n_neighbors=5))
knn_pipe.fit(X_train, y_train)

y_tr_pred = knn_pipe.predict(X_train)
y_te_pred = knn_pipe.predict(X_test)

train_r2 = r2_score(y_train, y_tr_pred)
test_r2  = r2_score(y_test,  y_te_pred)
print([train_r2, test_r2])

[np.float64(0.8216024358999575), np.float64(0.6731068671401076)]

In [64]:
# Q26 Which features have largest (by absolute value) weight in your linear model (top 5 features)? (list of str).

ridge_final = make_pipeline(StandardScaler(), Ridge(alpha=best_alpha))
ridge_final.fit(X_train, y_train)

ridge_model = ridge_final.named_steps['ridge']

coefs = ridge_model.coef_
feature_names = X_train.columns

top5_idx = np.argsort(np.abs(coefs))[-5:][::-1]
top5_features = feature_names[top5_idx].tolist()

print("Top 5 features (by abs weight):", top5_features)

Top 5 features (by abs weight): ['hour', 'weekday', 'clouds_all', 'temp', 'weather_description_scattered clouds']

# Make sure your .ipynb is linearly executable     
# Kernel -> Restart & Run All -> No ERROR cells